# The aim of the file is clean the data and record the steps in data preprocessing.py file

In [103]:
import pandas as pd
import numpy as np

In [104]:
dataframe=pd.read_csv('C:/Users/aditya/Desktop/2023/Hackathon2/Data/Raw/train.csv')

In [105]:
dataframe.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [106]:
dataframe.shape

(1460, 81)

In [107]:
data_meta=pd.DataFrame(dataframe.isnull().sum()/len(dataframe)).reset_index().rename(columns={0:"Nulls"})

data_meta_1=data_meta[data_meta['Nulls']>=0.40]
for i in data_meta_1['index']:
    dataframe.drop(i,inplace=True,axis=1)

In [108]:
data_meta

            index     Nulls
0              Id  0.000000
1      MSSubClass  0.000000
2        MSZoning  0.000000
3     LotFrontage  0.177397
4         LotArea  0.000000
..            ...       ...
76         MoSold  0.000000
77         YrSold  0.000000
78       SaleType  0.000000
79  SaleCondition  0.000000
80      SalePrice  0.000000

[81 rows x 2 columns]

In [109]:
dataframe.shape

(1460, 76)

In [110]:
dataframe.drop('Id',axis=1,inplace=True)

In [111]:
dataframe.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [112]:
dataframe['Condition1'].unique()

array(['Norm', 'Feedr', 'PosN', 'Artery', 'RRAe', 'RRNn', 'RRAn', 'PosA',
       'RRNe'], dtype=object)

In [113]:
dataframe['Conditions']=dataframe['Condition1']+" & "+dataframe['Condition2']

In [114]:
dataframe['Conditions'].unique()

array(['Norm & Norm', 'Feedr & Norm', 'PosN & Norm', 'Artery & Norm',
       'Artery & Artery', 'RRAe & Norm', 'Feedr & RRNn', 'RRNn & Norm',
       'RRAn & Feedr', 'PosA & Norm', 'Feedr & Feedr', 'RRAn & Norm',
       'RRNe & Norm', 'PosN & PosN', 'RRNn & Feedr', 'Artery & PosA',
       'Feedr & RRAn', 'Feedr & RRAe'], dtype=object)

In [115]:
dataframe.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Conditions
0,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,2,2008,WD,Normal,208500,Norm & Norm
1,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,5,2007,WD,Normal,181500,Feedr & Norm
2,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,9,2008,WD,Normal,223500,Norm & Norm
3,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,0,0,0,0,2,2006,WD,Abnorml,140000,Norm & Norm
4,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,12,2008,WD,Normal,250000,Norm & Norm

In [116]:
dataframe.drop('Conditions',axis=1,inplace=True)

In [117]:
data_meta=pd.DataFrame(dataframe.isnull().sum()/len(dataframe)).reset_index().rename(columns={0:"Nulls"})
data_meta=data_meta[data_meta['Nulls']>0]
print(data_meta)

           index     Nulls
2    LotFrontage  0.177397
23    MasVnrType  0.005479
24    MasVnrArea  0.005479
28      BsmtQual  0.025342
29      BsmtCond  0.025342
30  BsmtExposure  0.026027
31  BsmtFinType1  0.025342
33  BsmtFinType2  0.026027
40    Electrical  0.000685
55    GarageType  0.055479
56   GarageYrBlt  0.055479
57  GarageFinish  0.055479
60    GarageQual  0.055479
61    GarageCond  0.055479

In [118]:
for i in dataframe.columns:
    if dataframe[i].dtype =="object" and dataframe[i].isnull().sum()>0:
            mode = dataframe[i].mode()[0]
            dataframe[i].fillna(mode, inplace=True)
    if dataframe[i].dtype =="float64" and dataframe[i].isnull().sum()>0:
            mean = dataframe[i].mean()
            dataframe[i].fillna(mean, inplace=True)

In [119]:
data_meta=pd.DataFrame(dataframe.isnull().sum()/len(dataframe)).reset_index().rename(columns={0:"Nulls"})
data_meta=data_meta[data_meta['Nulls']>0]
print(data_meta)

Empty DataFrame
Columns: [index, Nulls]
Index: []

In [100]:
for i in dataframe.columns:
    if dataframe[i].dtype =="float64" and dataframe[i].isnull().sum()>0:
                mean = dataframe[i].mean()
                dataframe[i].fillna(mean, inplace=True)

In [101]:
data_meta=pd.DataFrame(dataframe.isnull().sum()/len(dataframe)).reset_index().rename(columns={0:"Nulls"})
data_meta=data_meta[data_meta['Nulls']>0]
print(data_meta)

Empty DataFrame
Columns: [index, Nulls]
Index: []

In [66]:
#dataframe['GarageCond'].dtype and 
dataframe['GarageCond'].isnull().sum()

0

In [81]:
dataframe['LotFrontage'].isnull().sum()

259

In [91]:
dataframe['MasVnrArea'].dtype

dtype('float64')

In [93]:
dataframe['MasVnrArea'].mean()

103.68526170798899

In [90]:
dataframe['MasVnrArea'].unique()

array([1.960e+02, 0.000e+00, 1.620e+02, 3.500e+02, 1.860e+02, 2.400e+02,
       2.860e+02, 3.060e+02, 2.120e+02, 1.800e+02, 3.800e+02, 2.810e+02,
       6.400e+02, 2.000e+02, 2.460e+02, 1.320e+02, 6.500e+02, 1.010e+02,
       4.120e+02, 2.720e+02, 4.560e+02, 1.031e+03, 1.780e+02, 5.730e+02,
       3.440e+02, 2.870e+02, 1.670e+02, 1.115e+03, 4.000e+01, 1.040e+02,
       5.760e+02, 4.430e+02, 4.680e+02, 6.600e+01, 2.200e+01, 2.840e+02,
       7.600e+01, 2.030e+02, 6.800e+01, 1.830e+02, 4.800e+01, 2.800e+01,
       3.360e+02, 6.000e+02, 7.680e+02, 4.800e+02, 2.200e+02, 1.840e+02,
       1.129e+03, 1.160e+02, 1.350e+02, 2.660e+02, 8.500e+01, 3.090e+02,
       1.360e+02, 2.880e+02, 7.000e+01, 3.200e+02, 5.000e+01, 1.200e+02,
       4.360e+02, 2.520e+02, 8.400e+01, 6.640e+02, 2.260e+02, 3.000e+02,
       6.530e+02, 1.120e+02, 4.910e+02, 2.680e+02, 7.480e+02, 9.800e+01,
       2.750e+02, 1.380e+02, 2.050e+02, 2.620e+02, 1.280e+02, 2.600e+02,
       1.530e+02, 6.400e+01, 3.120e+02, 1.600e+01, 9.220e+02, 1.420e+02,
       2.900e+02, 1.270e+02, 5.060e+02, 2.970e+02,       nan, 6.040e+02,
       2.540e+02, 3.600e+01, 1.020e+02, 4.720e+02, 4.810e+02, 1.080e+02,
       3.020e+02, 1.720e+02, 3.990e+02, 2.700e+02, 4.600e+01, 2.100e+02,
       1.740e+02, 3.480e+02, 3.150e+02, 2.990e+02, 3.400e+02, 1.660e+02,
       7.200e+01, 3.100e+01, 3.400e+01, 2.380e+02, 1.600e+03, 3.650e+02,
       5.600e+01, 1.500e+02, 2.780e+02, 2.560e+02, 2.250e+02, 3.700e+02,
       3.880e+02, 1.750e+02, 2.960e+02, 1.460e+02, 1.130e+02, 1.760e+02,
       6.160e+02, 3.000e+01, 1.060e+02, 8.700e+02, 3.620e+02, 5.300e+02,
       5.000e+02, 5.100e+02, 2.470e+02, 3.050e+02, 2.550e+02, 1.250e+02,
       1.000e+02, 4.320e+02, 1.260e+02, 4.730e+02, 7.400e+01, 1.450e+02,
       2.320e+02, 3.760e+02, 4.200e+01, 1.610e+02, 1.100e+02, 1.800e+01,
       2.240e+02, 2.480e+02, 8.000e+01, 3.040e+02, 2.150e+02, 7.720e+02,
       4.350e+02, 3.780e+02, 5.620e+02, 1.680e+02, 8.900e+01, 2.850e+02,
       3.600e+02, 9.400e+01, 3.330e+02, 9.210e+02, 7.620e+02, 5.940e+02,
       2.190e+02, 1.880e+02, 4.790e+02, 5.840e+02, 1.820e+02, 2.500e+02,
       2.920e+02, 2.450e+02, 2.070e+02, 8.200e+01, 9.700e+01, 3.350e+02,
       2.080e+02, 4.200e+02, 1.700e+02, 4.590e+02, 2.800e+02, 9.900e+01,
       1.920e+02, 2.040e+02, 2.330e+02, 1.560e+02, 4.520e+02, 5.130e+02,
       2.610e+02, 1.640e+02, 2.590e+02, 2.090e+02, 2.630e+02, 2.160e+02,
       3.510e+02, 6.600e+02, 3.810e+02, 5.400e+01, 5.280e+02, 2.580e+02,
       4.640e+02, 5.700e+01, 1.470e+02, 1.170e+03, 2.930e+02, 6.300e+02,
       4.660e+02, 1.090e+02, 4.100e+01, 1.600e+02, 2.890e+02, 6.510e+02,
       1.690e+02, 9.500e+01, 4.420e+02, 2.020e+02, 3.380e+02, 8.940e+02,
       3.280e+02, 6.730e+02, 6.030e+02, 1.000e+00, 3.750e+02, 9.000e+01,
       3.800e+01, 1.570e+02, 1.100e+01, 1.400e+02, 1.300e+02, 1.480e+02,
       8.600e+02, 4.240e+02, 1.047e+03, 2.430e+02, 8.160e+02, 3.870e+02,
       2.230e+02, 1.580e+02, 1.370e+02, 1.150e+02, 1.890e+02, 2.740e+02,
       1.170e+02, 6.000e+01, 1.220e+02, 9.200e+01, 4.150e+02, 7.600e+02,
       2.700e+01, 7.500e+01, 3.610e+02, 1.050e+02, 3.420e+02, 2.980e+02,
       5.410e+02, 2.360e+02, 1.440e+02, 4.230e+02, 4.400e+01, 1.510e+02,
       9.750e+02, 4.500e+02, 2.300e+02, 5.710e+02, 2.400e+01, 5.300e+01,
       2.060e+02, 1.400e+01, 3.240e+02, 2.950e+02, 3.960e+02, 6.700e+01,
       1.540e+02, 4.250e+02, 4.500e+01, 1.378e+03, 3.370e+02, 1.490e+02,
       1.430e+02, 5.100e+01, 1.710e+02, 2.340e+02, 6.300e+01, 7.660e+02,
       3.200e+01, 8.100e+01, 1.630e+02, 5.540e+02, 2.180e+02, 6.320e+02,
       1.140e+02, 5.670e+02, 3.590e+02, 4.510e+02, 6.210e+02, 7.880e+02,
       8.600e+01, 7.960e+02, 3.910e+02, 2.280e+02, 8.800e+01, 1.650e+02,
       4.280e+02, 4.100e+02, 5.640e+02, 3.680e+02, 3.180e+02, 5.790e+02,
       6.500e+01, 7.050e+02, 4.080e+02, 2.440e+02, 1.230e+02, 3.660e+02,
       7.310e+02, 4.480e+02, 2.940e+02, 3.100e+02, 2.370e+02, 4.260e+02,
       9.600e+01, 4.380e+02, 1.940e+02, 1.190e+02])

In [70]:
dataframe.isnull().sum()/len(dataframe)

MSSubClass       0.0
MSZoning         0.0
LotFrontage      0.0
LotArea          0.0
Street           0.0
                ...
MoSold           0.0
YrSold           0.0
SaleType         0.0
SaleCondition    0.0
SalePrice        0.0
Length: 75, dtype: float64

In [71]:
dataframe.isnull().sum()/len(dataframe)

MSSubClass       0.0
MSZoning         0.0
LotFrontage      0.0
LotArea          0.0
Street           0.0
                ...
MoSold           0.0
YrSold           0.0
SaleType         0.0
SaleCondition    0.0
SalePrice        0.0
Length: 75, dtype: float64

In [72]:
data_meta=pd.DataFrame(dataframe.isnull().sum()/len(dataframe)).reset_index().rename(columns={0:"Nulls"})
data_meta=data_meta[data_meta['Nulls']>0]
print(data_meta)

Empty DataFrame
Columns: [index, Nulls]
Index: []

In [120]:
dataframe.shape

(1460, 75)

In [31]:
dataframe_1=dataframe
dataframe_1.dropna(inplace=True,axis=0)

In [32]:
dataframe_1.shape

(1094, 75)