# The aim of the file is clean the data and record the steps in data preprocessing.py file

In [1]:
import pandas as pd
import numpy as np

In [2]:
dataframe=pd.read_csv('C:/Users/aditya/Desktop/2023/Hackathon2/Data/Raw/train.csv')

In [4]:
for i in dataframe.columns:
    print(i)

Id
MSSubClass
MSZoning
LotFrontage
LotArea
Street
Alley
LotShape
LandContour
Utilities
LotConfig
LandSlope
Neighborhood
Condition1
Condition2
BldgType
HouseStyle
OverallQual
OverallCond
YearBuilt
YearRemodAdd
RoofStyle
RoofMatl
Exterior1st
Exterior2nd
MasVnrType
MasVnrArea
ExterQual
ExterCond
Foundation
BsmtQual
BsmtCond
BsmtExposure
BsmtFinType1
BsmtFinSF1
BsmtFinType2
BsmtFinSF2
BsmtUnfSF
TotalBsmtSF
Heating
HeatingQC
CentralAir
Electrical
1stFlrSF
2ndFlrSF
LowQualFinSF
GrLivArea
BsmtFullBath
BsmtHalfBath
FullBath
HalfBath
BedroomAbvGr
KitchenAbvGr
KitchenQual
TotRmsAbvGrd
Functional
Fireplaces
FireplaceQu
GarageType
GarageYrBlt
GarageFinish
GarageCars
GarageArea
GarageQual
GarageCond
PavedDrive
WoodDeckSF
OpenPorchSF
EnclosedPorch
3SsnPorch
ScreenPorch
PoolArea
PoolQC
Fence
MiscFeature
MiscVal
MoSold
YrSold
SaleType
SaleCondition
SalePrice

In [4]:
dataframe.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
dataframe.shape

(1460, 81)

In [6]:
data_meta=pd.DataFrame(dataframe.isnull().sum()/len(dataframe)).reset_index().rename(columns={0:"Nulls"})

data_meta_1=data_meta[data_meta['Nulls']>=0.40]
for i in data_meta_1['index']:
    dataframe.drop(i,inplace=True,axis=1)

In [7]:
data_meta

            index     Nulls
0              Id  0.000000
1      MSSubClass  0.000000
2        MSZoning  0.000000
3     LotFrontage  0.177397
4         LotArea  0.000000
..            ...       ...
76         MoSold  0.000000
77         YrSold  0.000000
78       SaleType  0.000000
79  SaleCondition  0.000000
80      SalePrice  0.000000

[81 rows x 2 columns]

In [8]:
dataframe.shape

(1460, 76)

In [9]:
dataframe.drop('Id',axis=1,inplace=True)

In [10]:
dataframe.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [11]:
dataframe['Condition1'].unique()

array(['Norm', 'Feedr', 'PosN', 'Artery', 'RRAe', 'RRNn', 'RRAn', 'PosA',
       'RRNe'], dtype=object)

In [12]:
dataframe['Conditions']=dataframe['Condition1']+" & "+dataframe['Condition2']

In [13]:
dataframe['Conditions'].unique()

array(['Norm & Norm', 'Feedr & Norm', 'PosN & Norm', 'Artery & Norm',
       'Artery & Artery', 'RRAe & Norm', 'Feedr & RRNn', 'RRNn & Norm',
       'RRAn & Feedr', 'PosA & Norm', 'Feedr & Feedr', 'RRAn & Norm',
       'RRNe & Norm', 'PosN & PosN', 'RRNn & Feedr', 'Artery & PosA',
       'Feedr & RRAn', 'Feedr & RRAe'], dtype=object)

In [14]:
dataframe.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,Conditions
0,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,2,2008,WD,Normal,208500,Norm & Norm
1,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,5,2007,WD,Normal,181500,Feedr & Norm
2,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,9,2008,WD,Normal,223500,Norm & Norm
3,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,0,0,0,0,2,2006,WD,Abnorml,140000,Norm & Norm
4,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,0,0,0,12,2008,WD,Normal,250000,Norm & Norm

In [15]:
dataframe.drop('Conditions',axis=1,inplace=True)

In [16]:
data_meta=pd.DataFrame(dataframe.isnull().sum()/len(dataframe)).reset_index().rename(columns={0:"Nulls"})
data_meta=data_meta[data_meta['Nulls']>0]
print(data_meta)

           index     Nulls
2    LotFrontage  0.177397
23    MasVnrType  0.005479
24    MasVnrArea  0.005479
28      BsmtQual  0.025342
29      BsmtCond  0.025342
30  BsmtExposure  0.026027
31  BsmtFinType1  0.025342
33  BsmtFinType2  0.026027
40    Electrical  0.000685
55    GarageType  0.055479
56   GarageYrBlt  0.055479
57  GarageFinish  0.055479
60    GarageQual  0.055479
61    GarageCond  0.055479

In [17]:
for i in dataframe.columns:
    if dataframe[i].dtype =="object" and dataframe[i].isnull().sum()>0:
            mode = dataframe[i].mode()[0]
            dataframe[i].fillna(mode, inplace=True)
    if dataframe[i].dtype =="float64" and dataframe[i].isnull().sum()>0:
            mean = dataframe[i].mean()
            dataframe[i].fillna(mean, inplace=True)

In [18]:
data_meta=pd.DataFrame(dataframe.isnull().sum()/len(dataframe)).reset_index().rename(columns={0:"Nulls"})
data_meta=data_meta[data_meta['Nulls']>0]
print(data_meta)

Empty DataFrame
Columns: [index, Nulls]
Index: []

In [19]:
for i in dataframe.columns:
    if dataframe[i].dtype =="float64" and dataframe[i].isnull().sum()>0:
                mean = dataframe[i].mean()
                dataframe[i].fillna(mean, inplace=True)

In [20]:
data_meta=pd.DataFrame(dataframe.isnull().sum()/len(dataframe)).reset_index().rename(columns={0:"Nulls"})
data_meta=data_meta[data_meta['Nulls']>0]
print(data_meta)

Empty DataFrame
Columns: [index, Nulls]
Index: []

In [21]:
#dataframe['GarageCond'].dtype and 
dataframe['GarageCond'].isnull().sum()

0

In [22]:
dataframe['LotFrontage'].isnull().sum()

0

In [23]:
dataframe['MasVnrArea'].dtype

dtype('float64')

In [24]:
dataframe['MasVnrArea'].mean()

103.68526170798896

In [25]:
dataframe['MasVnrArea'].unique()

array([1.96000000e+02, 0.00000000e+00, 1.62000000e+02, 3.50000000e+02,
       1.86000000e+02, 2.40000000e+02, 2.86000000e+02, 3.06000000e+02,
       2.12000000e+02, 1.80000000e+02, 3.80000000e+02, 2.81000000e+02,
       6.40000000e+02, 2.00000000e+02, 2.46000000e+02, 1.32000000e+02,
       6.50000000e+02, 1.01000000e+02, 4.12000000e+02, 2.72000000e+02,
       4.56000000e+02, 1.03100000e+03, 1.78000000e+02, 5.73000000e+02,
       3.44000000e+02, 2.87000000e+02, 1.67000000e+02, 1.11500000e+03,
       4.00000000e+01, 1.04000000e+02, 5.76000000e+02, 4.43000000e+02,
       4.68000000e+02, 6.60000000e+01, 2.20000000e+01, 2.84000000e+02,
       7.60000000e+01, 2.03000000e+02, 6.80000000e+01, 1.83000000e+02,
       4.80000000e+01, 2.80000000e+01, 3.36000000e+02, 6.00000000e+02,
       7.68000000e+02, 4.80000000e+02, 2.20000000e+02, 1.84000000e+02,
       1.12900000e+03, 1.16000000e+02, 1.35000000e+02, 2.66000000e+02,
       8.50000000e+01, 3.09000000e+02, 1.36000000e+02, 2.88000000e+02,
       7.00000000e+01, 3.20000000e+02, 5.00000000e+01, 1.20000000e+02,
       4.36000000e+02, 2.52000000e+02, 8.40000000e+01, 6.64000000e+02,
       2.26000000e+02, 3.00000000e+02, 6.53000000e+02, 1.12000000e+02,
       4.91000000e+02, 2.68000000e+02, 7.48000000e+02, 9.80000000e+01,
       2.75000000e+02, 1.38000000e+02, 2.05000000e+02, 2.62000000e+02,
       1.28000000e+02, 2.60000000e+02, 1.53000000e+02, 6.40000000e+01,
       3.12000000e+02, 1.60000000e+01, 9.22000000e+02, 1.42000000e+02,
       2.90000000e+02, 1.27000000e+02, 5.06000000e+02, 2.97000000e+02,
       1.03685262e+02, 6.04000000e+02, 2.54000000e+02, 3.60000000e+01,
       1.02000000e+02, 4.72000000e+02, 4.81000000e+02, 1.08000000e+02,
       3.02000000e+02, 1.72000000e+02, 3.99000000e+02, 2.70000000e+02,
       4.60000000e+01, 2.10000000e+02, 1.74000000e+02, 3.48000000e+02,
       3.15000000e+02, 2.99000000e+02, 3.40000000e+02, 1.66000000e+02,
       7.20000000e+01, 3.10000000e+01, 3.40000000e+01, 2.38000000e+02,
       1.60000000e+03, 3.65000000e+02, 5.60000000e+01, 1.50000000e+02,
       2.78000000e+02, 2.56000000e+02, 2.25000000e+02, 3.70000000e+02,
       3.88000000e+02, 1.75000000e+02, 2.96000000e+02, 1.46000000e+02,
       1.13000000e+02, 1.76000000e+02, 6.16000000e+02, 3.00000000e+01,
       1.06000000e+02, 8.70000000e+02, 3.62000000e+02, 5.30000000e+02,
       5.00000000e+02, 5.10000000e+02, 2.47000000e+02, 3.05000000e+02,
       2.55000000e+02, 1.25000000e+02, 1.00000000e+02, 4.32000000e+02,
       1.26000000e+02, 4.73000000e+02, 7.40000000e+01, 1.45000000e+02,
       2.32000000e+02, 3.76000000e+02, 4.20000000e+01, 1.61000000e+02,
       1.10000000e+02, 1.80000000e+01, 2.24000000e+02, 2.48000000e+02,
       8.00000000e+01, 3.04000000e+02, 2.15000000e+02, 7.72000000e+02,
       4.35000000e+02, 3.78000000e+02, 5.62000000e+02, 1.68000000e+02,
       8.90000000e+01, 2.85000000e+02, 3.60000000e+02, 9.40000000e+01,
       3.33000000e+02, 9.21000000e+02, 7.62000000e+02, 5.94000000e+02,
       2.19000000e+02, 1.88000000e+02, 4.79000000e+02, 5.84000000e+02,
       1.82000000e+02, 2.50000000e+02, 2.92000000e+02, 2.45000000e+02,
       2.07000000e+02, 8.20000000e+01, 9.70000000e+01, 3.35000000e+02,
       2.08000000e+02, 4.20000000e+02, 1.70000000e+02, 4.59000000e+02,
       2.80000000e+02, 9.90000000e+01, 1.92000000e+02, 2.04000000e+02,
       2.33000000e+02, 1.56000000e+02, 4.52000000e+02, 5.13000000e+02,
       2.61000000e+02, 1.64000000e+02, 2.59000000e+02, 2.09000000e+02,
       2.63000000e+02, 2.16000000e+02, 3.51000000e+02, 6.60000000e+02,
       3.81000000e+02, 5.40000000e+01, 5.28000000e+02, 2.58000000e+02,
       4.64000000e+02, 5.70000000e+01, 1.47000000e+02, 1.17000000e+03,
       2.93000000e+02, 6.30000000e+02, 4.66000000e+02, 1.09000000e+02,
       4.10000000e+01, 1.60000000e+02, 2.89000000e+02, 6.51000000e+02,
       1.69000000e+02, 9.50000000e+01, 4.42000000e+02, 2.02000000e+02,
       3.38000000e+02, 8.94000000e+02, 3.28000000e+02, 6.73000000e+02,
       6.03000000e+02, 1.00000000e+00, 3.75000000e+02, 9.00000000e+01,
       3.80000000e+01, 1.57000000e+02, 1.10000000e+01, 1.40000000e+02,
       1.30000000e+02, 1.48000000e+02, 8.60000000e+02, 4.24000000e+02,
       1.04700000e+03, 2.43000000e+02, 8.16000000e+02, 3.87000000e+02,
       2.23000000e+02, 1.58000000e+02, 1.37000000e+02, 1.15000000e+02,
       1.89000000e+02, 2.74000000e+02, 1.17000000e+02, 6.00000000e+01,
       1.22000000e+02, 9.20000000e+01, 4.15000000e+02, 7.60000000e+02,
       2.70000000e+01, 7.50000000e+01, 3.61000000e+02, 1.05000000e+02,
       3.42000000e+02, 2.98000000e+02, 5.41000000e+02, 2.36000000e+02,
       1.44000000e+02, 4.23000000e+02, 4.40000000e+01, 1.51000000e+02,
       9.75000000e+02, 4.50000000e+02, 2.30000000e+02, 5.71000000e+02,
       2.40000000e+01, 5.30000000e+01, 2.06000000e+02, 1.40000000e+01,
       3.24000000e+02, 2.95000000e+02, 3.96000000e+02, 6.70000000e+01,
       1.54000000e+02, 4.25000000e+02, 4.50000000e+01, 1.37800000e+03,
       3.37000000e+02, 1.49000000e+02, 1.43000000e+02, 5.10000000e+01,
       1.71000000e+02, 2.34000000e+02, 6.30000000e+01, 7.66000000e+02,
       3.20000000e+01, 8.10000000e+01, 1.63000000e+02, 5.54000000e+02,
       2.18000000e+02, 6.32000000e+02, 1.14000000e+02, 5.67000000e+02,
       3.59000000e+02, 4.51000000e+02, 6.21000000e+02, 7.88000000e+02,
       8.60000000e+01, 7.96000000e+02, 3.91000000e+02, 2.28000000e+02,
       8.80000000e+01, 1.65000000e+02, 4.28000000e+02, 4.10000000e+02,
       5.64000000e+02, 3.68000000e+02, 3.18000000e+02, 5.79000000e+02,
       6.50000000e+01, 7.05000000e+02, 4.08000000e+02, 2.44000000e+02,
       1.23000000e+02, 3.66000000e+02, 7.31000000e+02, 4.48000000e+02,
       2.94000000e+02, 3.10000000e+02, 2.37000000e+02, 4.26000000e+02,
       9.60000000e+01, 4.38000000e+02, 1.94000000e+02, 1.19000000e+02])

In [26]:
dataframe.isnull().sum()/len(dataframe)

MSSubClass       0.0
MSZoning         0.0
LotFrontage      0.0
LotArea          0.0
Street           0.0
                ...
MoSold           0.0
YrSold           0.0
SaleType         0.0
SaleCondition    0.0
SalePrice        0.0
Length: 75, dtype: float64

In [27]:
dataframe.isnull().sum()/len(dataframe)

MSSubClass       0.0
MSZoning         0.0
LotFrontage      0.0
LotArea          0.0
Street           0.0
                ...
MoSold           0.0
YrSold           0.0
SaleType         0.0
SaleCondition    0.0
SalePrice        0.0
Length: 75, dtype: float64

In [28]:
data_meta=pd.DataFrame(dataframe.isnull().sum()/len(dataframe)).reset_index().rename(columns={0:"Nulls"})
data_meta=data_meta[data_meta['Nulls']>0]
len(data_meta)

0

In [29]:
data=dataframe

In [30]:
print("The distinct value in Utilities are ",data['Utilities'].unique())

The distinct value in Utilities are  ['AllPub' 'NoSeWa']

In [31]:
utilities_mapping={
            "AllPub":4,
            "NoSewr":3,
            "NoSeWa":2,
            "ELO":1
        }
data['Utilities'].replace(utilities_mapping,inplace=True)
 #The distinct value in Utilities are --Remove in Prod
print("The distinct value in Utilities are ",data['Utilities'].unique())

The distinct value in Utilities are  [4 2]

In [33]:
from datetime import datetime
current_year = datetime.now().year
data['Age_Of_House'] = current_year - data['YearBuilt']

In [35]:
data['Age_of_House'].head()

KeyError: 'Age_of_House'

In [ ]:
dataframe_1=dataframe
dataframe_1.dropna(inplace=True,axis=0)

In [ ]:
dataframe_1.shape

(1094, 75)